/* Facebook Story Feature */

.stories {
  display: grid;
  grid-template-columns: repeat(4, 140.625px); /* Four columns with specific width */
  grid-auto-rows: 252px; /* Rows with specific height */
  column-gap: 8px;
}

.stories__create {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: filter 0.3s ease, transform 0.3s ease;
  position: relative;
  cursor: pointer;
}

.stories__user-image-wrapper {
  position: relative;
  overflow: hidden; /* Ensures that the image doesn't overflow its container */
  width: fit-content; /* Adjust based on your image dimensions */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.stories__create:hover .stories__user-image {
  filter: grayscale(30%);
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow on hover */
}

.stories__user-image {
  width: 100%;
  height: 203px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease,
  filter 0.3s ease,
  shadow 0.3s ease; /* Smooth transition */
}

.stories__create-details {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 0px -2px rgba(0, 0, 0, 0.15);
  margin-top: -3px;
  position: relative;
}

.stories__create-text {
  font-weight: 500;
  font-size: 12px;
  margin-top: 17px;
}

.stories__add-wrapper {
  background-color: white;
  display: inline-block;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 50%;
  position: absolute;
  right: 33%;
  top: -20px;
}

.stories__add-button {
  background-color: #206eff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.stories__add-icon {
  color: white;
  font-size: 29px;
}

.stories__item {
  position: relative;
  overflow: hidden; /* Ensures that the image doesn't overflow its container */
  width: fit-content; /* Adjust based on your image dimensions */
  border-radius: 10px;
}

.stories__content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease,
  filter 0.3s ease,
  shadow 0.3s ease;
  cursor: pointer;
}

.stories__item:hover .stories__content-image {
  transform: scale(1.03);
  filter: grayscale(40%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow on hover */
}

.stories__profile-pic-wrapper {
  background-color: #206eff;
  display: inline-block;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.stories__profile-pic {
  width: 34px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.stories__profile-name {
  font-size: 12px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 9px;
  left: 9px;
  cursor: pointer;
}

.stories__next-wrapper {
  background-color: white;
  display: inline-block;
  border-radius: 25px;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stories__next-wrapper:hover {
  background-color: #f1f1f1;
}

.stories__next-icon {
  width: 50px;
}



/* Facebook Status Update Feature*/

.status-update {
  background-color: #fff;
  margin-top: 37px;
  width: 500px;
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.status-update__wrapper {
  display: flex;
  align-items: center;
  margin: 20px 15px 5px;
  width: calc(100% - 30px);
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0;
}

.status-update__profile-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.status-update__profile-pic:hover {
  filter: grayscale(30%);
}

.status-update__input {
  font-size: 17px;
  width: 100%;
  border-radius: 40px;
  border: none;
  background-color: #f0f0f0;
  box-sizing: border-box;
  padding: 8px 12px;
  margin-left: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.status-update__input:hover {
  background-color: #e4e4e4;
}

.status-update__media-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-update__media-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

.status-update__media-item:hover {
  background-color: #f0f0f0;
}

.status-update__media-icon {
  width: 24px;
}

.status-update__media-text {
  font-size: 14px;
  color: #6b6b6b;
  margin-top: 14px;
  margin-bottom: 14px;
}



/* Facebook News Feed Feature */

.news-feed {
  background-color: #fff;
  width: 500px;
  margin-top: 13px;
  padding: 2px 0px;
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.news-feed__author-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.news-feed__author-info-wrapper {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.news-feed__info-wrapper {
  margin-left: 8px;
}

.news-feed__author-image {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.news-feed__author-name {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  transition: text-decoration 0.3s ease;
  cursor: pointer;
}

.news-feed__author-name:hover {
  text-decoration: underline;
}

.news-feed__verified-icon {
  width: 12px;
}

.news-feed__date-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #6b6b6b;
  line-height: 20px;
}

.news-feed__friends-icon {
  width: 14px;
}

.news-feed__post-options-wrapper {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.news-feed__hide-icon {
  padding: 9px;
  border-radius: 50%;
  width: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.news-feed__save-icon {
  padding: 7px;
  border-radius: 50%;
  width: 23px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.news-feed__hide-icon:hover,
.news-feed__save-icon:hover {
  background-color: #f0f0f0;
}

.news-feed__caption {
  text-wrap: balance;
  font-size: 14px;
  margin: 9px 0px 0px 16px;
  line-height: 20px;
}

.news-feed__content-image {
  width: 100%;
  object-fit: cover;
  margin-top: 9px;
}

.news-feed__engagement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 16px 0px 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.news-feed__reactions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.news-feed__reactions-wrapper {
  display: flex;
  align-items: center;
}

.news-feed__laughing-icon {
  width: 18px;
  margin-right: -1px;
  z-index: 1;
  border: 1px solid white;
}

.news-feed__likes-icon {
  width: 18px;
}

.news-feed__reaction-count {
  font-size: 15px;
  color: gray;
}

.news-feed__social-sharing {
  display: flex;
  gap: 8px;
}

.news-feed__comments-wrapper,
.news-feed__sharing-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.news-feed__comments-count,
.news-feed__shared-count {
  font-size: 14px;
  color: gray;
}

.news-feed__comments-icon {
  width: 16px;
}

.news-feed__share-icon {
  width: 20px;
}

.news-feed__post-engagement-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0px 0px 1px;
}

.news-feed__engagement-options {
  display: flex;
  align-items: center;
  padding: 5px 25px;
  margin: 1px;
  gap: 6px;
  border-radius: 7px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.news-feed__engagement-options:hover {
  background-color: #f0f0f0;
}

.news-feed__engagement-options img {
  width: 20px;
}

.news-feed__engagement-options p {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}